.userphotos-container {
  padding: 16px;
}

.userphotos-photo {
  margin-bottom: 24px;
}

.userphotos-imgwrap {
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
}

.userphotos-img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin: 10px auto;
}

.userphotos-comment {
  margin-top: 8px;
}

.userphotos-comment a {
  font-weight: 500;
  color: #1976d2;
}
